

<div class="row">
  <div class="col-md-6">
  <%= form_with model: @blog, local: true do |b| %>
    <%= b.text_field :title, class: 'form-control',placeholder: 'Title' %>
    <br>
    <br>
    <%= b.text_area :content, class: 'form-control',placeholder: 'Content' %>
    <br>
    <br>
    <%= b.submit %>

  <% end %>
  </div>
</div>
