
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-3 text-center">
      <div class="about_page">
        <h1>About this App</h1>

        <p>Este es un ejercicio diseñado y enseñado por Codestranauts para revisar el funcionamiento base de Rails!</p>
      </div>
    </div>
  </div>
</div>
